@media screen and (min-width: 768px) and (max-width: 1024px){
        /* reset */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    li{list-style: none;}
    a{
        text-decoration: none;
        color: inherit;
    }
    button{
        background: transparent;
        border: none;
        outline: none;
    }
    div{
        display: block;
    }

    body{
        width: 1024px;

        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 300;
        color: #333;

    }

    
    /* Header */
    .header{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
    .innerHeader{
        position: absolute;
        width: 100%;
        height: 60px;
    }
    .innerHeader .logo{
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding-top: 2px;
    }
    .logo a{
        display: inline-block;
    }
    
    .logo>a>img{
        height: 60px;
    }
    .logo a span{
        font-size: 12px;
        font-weight: 500;
        display: inline-block;
        margin: 15px 0 0 10px;
        line-height: 1.2EM;
    }

    
    /* menu */

    .menu{
        display: none;
    }
    .slide_menu{
        display: block;
        float: left;
    }
    input[id=trigger]{  /*문서 안에 체크박스가 많더라도 중복되지 않음*/
        display: none;
    }
    
    label[for=trigger]{
        width: 25px;
        height: 20px;
        display: block; /*라벨은 인라인 요소니까 크기값이 들어가지 않음*/
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        transition: 0.3s;
        margin: 20px 0 0 20px;
    }
    
    label[for=trigger] span{
        position: absolute;
        height: 2px;
        background-color: #000;
        width: 100%;
        left: 0;
        transition: 0.3s;
        
    }
    
    label[for=trigger] span:nth-child(1){
        top: 0;
    }
    
    label[for=trigger] span:nth-child(2){
        top: 50%;
    }
    
    label[for=trigger] span:nth-child(3){
        top: 100%;
    }

    input[id=trigger]:checked + label[for=trigger] span:nth-child(1){
        top: 50%;   /*먼저 위치를 내려줘야*/
        transform: rotate(45deg);
    }
    input[id=trigger]:checked + label[for=trigger] span:nth-child(2){
        opacity: 0;
    }
    input[id=trigger]:checked + label[for=trigger] span:nth-child(3){
        top: 50%;
        transform: rotate(-45deg);
    }

    .sidebar{
        display: none;
        width: 100%;
        position: fixed;
        left: 0;
        margin: 0;
        transition: 0.3s;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
    input[id=trigger]:checked ~ .sidebar {
        top: 60px;
        display: block;
        position: absolute;
        background-color: #fff;
    }

    .sidebar{
        width: 100%;
    }
    .sidebar ul{
        display: block;
        text-align: center;
    }
    .sidebar ul li a{
        display: block;
        padding: 10px 0;
        border-top: 1px solid #ddd;
        cursor: pointer;
        font-weight: 400;
    }
    .sidebar ul li:hover{
        /* background-color: #ddd; */
        background-color: rgb(0, 149, 200);
        color: #fff;
    }


    /* contents */
    .container{
        margin-top: 60px;

        padding-bottom: 60px;
    }
    .vlist{
        position: relative;
        width: 100%;
    }

    .vbox{
        display: block;
        margin: 0 auto;
        width: 700px;
        padding-bottom: 20px;
    }

    .cont_inner{
        padding: 0 10px 15px 10px;
    }
    .content{
        width: 220px;
        margin-right: 20px;
    }

    .video a img{
        display: block;
        width: 200px;
        margin: 10px 0;
    }


    /* footer */
    .footer{
        font-size: 10px;
    }
    .footer_wrap{
        width: 100%;
        padding: 30px 30px;
    }

    .footer_logo a img{
        height: 40px;
    }

    .footer_wrap .info{
        margin-left: 40px;
    }

    .sns{
        position: relative;
        top: -6px;
    }

    .sns span{
        font-size: 10px;
    }

}